p {
  font-weight: 300;
  font-family: $open;
  color: darken(white, 20%);
  font-size: 14px;
}

ul {
  font-weight: 300;
  font-family: $open;
  color: darken(white, 20%);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: none;
  font-weight: 100;
}

.bold-title {
  font-weight: 500;
  margin-bottom: 20px;
  //letter-spacing: -3px;
}

.display-4 {
  font-size: 2rem;

  @include tablet {
    font-size: 2.5rem;
  }
}
