@media print {
  .reveal-content {
    height: auto !important;
  }
  .links,
  .skills,
  .the-work {
    display: none !important;
  }
  .sidebar {
    .affix {
      top: 150px !important;
    }
    .person-img {
      display: none !important;
    }
    a {
      text-decoration: none !important;
    }
  }
  * {
    color: black !important;
  }
  .name-title,
  .bold-title {
    letter-spacing: normal !important;
    font-weight: 500 !important;
  }
  .mailme {
    display: block !important;
  }

  .telme {
    display: block !important;
  }

  .socials {
    display: none !important;
  }
}
