@media print {

  .reveal-content {
    height: auto !important;
  }

  .reveal-header svg{
    display: none;
  }

  .work-examples-print{
    display: block;
  }

  .sidebar {

    .links{
      display: none !important;
    }

    .skills{
      display: none !important;
    }

    .affix {
      top: 150px !important;
    }

    .person-img {
      display: none !important;
    }

    a {
      text-decoration: none !important;
    }

  }
  * {
    color: black !important;
  }
  .name-title,
  .bold-title {
    letter-spacing: normal !important;
    font-weight: 400 !important;
  }
  .mailme {
    display: block !important;
  }

  .telme {
    display: block !important;
  }

  .socials {
    display: none !important;
  }

  .display-4 {
    font-size: 21px;
  }
}
